<!doctype html>
<html>
<head>
 <title>INSTAGRAM</title>
 <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
 <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 <h1>Profile </h1>
 <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
      <h2>Login Info</h2>
      {% if user_data %}

        <form method="POST" action="{{ url_for('search') }}">
            <input type="text" name="profileName" placeholder="Search for usernames...">
            <button type="submit">Search</button>
        </form>
          <p>Name:  {{ user_data['name'] }}<br/><br>
              Email: {{ user_data['email'] }}
          </p>
          <p>UserName: @{{ user_info['username'] }}<br><br>
            <a href="following" methods="get">Following: {{ following_no }} </a><br/>
              <a href="follower" methods="get">Followers: {{follower_no}}</a><br><br/>
              <button> Follow</button>
            <button>Unfollow</button>


          </p>

            <form>
                <h3>Add Post</h3>
                <hr/>
                <div>
                    <form action="/upload_file" method="post" enctype="multipart/form-data">
                        <input type="text" placeholder="Post" ><br/>
                        Upload File: <input type="file" name="file_name" /><input type="submit"/>
                    </form>

                </div>


            </form>



        <h1>list of files</h1><br/>
        {% for i in file_list %}
            <div action="/download_file/{{ i.name }}" method="post">
                <img src="https://storage.googleapis.com/first-project-378216.appspot.com/{{ i.name }}" alt="Image description">

            </div>
            <form action="/download_file/{{ i.name }}" method="post">
                {{ i.name }}<input type="submit"/><br/>
            </form>
        {% endfor %}
      {% elif error_message %}
         <p>Error Message: {{ error_message }}</p>
      {% endif %}
    </div>

 <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
 <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
</body>
</html>
