<!doctype html>
<html>
<head>
 <title>INSTAGRAM</title>
 <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
 <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <style>
     img{
      border: 1px solid #ddd;
      border-radius: 88px;
      padding: 150px;
      width: 30%;
      }
 </style>
</head>
<body>
 <h1>{{ user['profileName'] }} </h1>
 <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
      <h2>Login Info</h2>
      {% if user %}

        <p>Name: {{ user['profileName'] }}<br/></p>
        <p>username: {{ user['username'] }}</p><br/>


        {% if follows_user %}
            <form action="{{ url_for('Unfollow', username=user.username) }}" method="post">
                <button type="submit" class="">Unfollow</button>
            </form><br/>
        {% else %}
             <form action="{{ url_for('Follow', username=user.username) }}" method="post">
                <button type="submit" class="">Follow</button>
            </form><br/>
        {% endif %}

        <br><form action="{{ url_for('root') }}" method="get">
                <button>Home</button>
            </form><br/>

        {% for i in post %}
            <img src="{{i.image}}" alt="{{i.caption}}"><br>
            caption: {{i.caption}}<br><br><br>
        {% endfor %}

      {% elif error_message %}
        <p>Error Message: {{ error_message }}</p>
      {% endif %}
    </div>

 <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
 <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
</body>
</html>
