<!doctype html>
<html>
<head>
 <title>INSTAGRAM</title>
 <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
 <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 <h1>{{ user['profileName'] }} </h1>
 <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
      <h2>Login Info</h2>
      {% if user %}

        <p>Name: {{ user['profileName'] }}<br/></p>
        <p>username: {{ user['username'] }}</p><br/>


        {% if follows_user %}
            <form action="{{ url_for('Unfollow', username=user.username) }}" method="post">
                <button type="submit" class="btn btn-danger">Unfollow</button>
            </form>
        {% else %}
             <form action="{{ url_for('Follow', username=user.username) }}" method="post">
                <button type="submit" class="btn btn-primary">Follow</button>
            </form>
        {% endif %}

<!--        <form action = "/" method="get">-->
<!--            <button type="button"> Home</button>-->
<!--        </form>-->








        <h1>list of files</h1><br/>
        {% for i in file_list %}

            <form action="/download_file/{{ i.name }}" method="post">
                {{ i.name }}<input type="submit"/><br/>
            </form>
        {% endfor %}

      {% elif error_message %}
        <p>Error Message: {{ error_message }}</p>
      {% endif %}
    </div>

 <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
 <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
</body>
</html>
